.detail-parent, .welcome-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100vw;
}
.Navbar{
  width: 100vw;
  height: 5rem;
  position: relative;
  background-color: #b80c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}
.Navbar a{
  color: white;
}
.picture-comp-parent{
  display: flex;
  flex-direction: column;
  min-width: 843px;
  box-shadow:  0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 5px;
  /*border: 1px solid red; */
} 

.pictures-map-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.welcome-text {
  font-size: xx-large;
  padding: 10px;
}

.artist-name, .artwork-title {
  margin: 0;
  padding: 5px;
}

.artist-name {
  margin-bottom: 30px;
}
.picture-detail-parent{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;

}
.comment-detail-parent{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.image-box{
  box-shadow:  0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

}